.menu {
    color:  #402E2A;    
    display: block;
    background-color: #D5B0AC;
    text-align: center;
}

span{
    display: inline-block;
    font-weight: bold;
    width: 100px;
    height: 30px;
    contain: inherit;
    line-height: 30px;
}

span:hover{
    color: #FFFFFF;
    background-color: #9CD08F;
    cursor: pointer;
}


.menu.sub-menu{
    display: none;
    position: absolute;
    width: 100px;
    height: 30px;
}

span:hover .menu.sub-menu {
    display: block;
}

.menu .menu.sub-menu span{
    color:  #402E2A;    
    background: #D5B0AC;
    display: block;
    position: relative;
}

.menu.sub-menu span:hover{
    color: #FFFFFF;
    background-color: #9CD08F;
    cursor: pointer;
}


.menu.sub-menu span .menu.sub-menu{
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
}

.menu.sub-menu span:hover .menu.sub-menu {
    display: block;
   
}




